{% extends 'homepage.html.twig' %}

{% block mathTools %}
<!-- odd or even: user enters number and is told whether the number is odd or even -->
<div class="math_tool">
  <h2>Odd or even?:</h2>
  <label for="odd_even">Enter a Number: <input type="number" name="odd_even" placeholder="1000" id="odd_even"> </label>
  <br/>
  <button type="submit" name="submit_odd_even" method="post" action="OddOrEven()">submit</button>
</div>
{% endblock %}
