{% block mathTools %}
  <div class="math_tool">
    <!-- addition: user enters two number and is given the sum -->
    <h2>Sum of two numbers:</h2>
    <label for="addend_01">First number: <input type="number" name="sum" placeholder="1000" id="addend_01"> </label>
    <br/>
    <label for="addend_01">Second number: <input type="number" name="sum" placeholder="1000" id="addend_02"> </label>
    <br/>
    <button type="submit" name="submit_sum_of_two" method="post" >submit</button>
  </div>
{% endblock %}
