{% extends 'base.html.twig' %}

{% block body %}

<h1>The Math-inator!</h1>

<p>Welcome to the Math-inator! the -inator to help with all your math-ing needs!
Find the entry you need below and let the math-ing begin!</p>

<label for=""></label>

{% endblock %}
